    .subscribe{
    background-color: rgb(200, 0, 0);
    color: white;
    border: none;
    border-radius: 2px;
    /* to point the button */
    cursor: pointer;  
    margin-right: 8px;
    margin-left:20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:16px;
    padding-right:16px;
    transition: opacity 0.15s;
    vertical-align: top;
}

.subscribe:hover{
    opacity: 0.8;

}
.subscribe:active{
    opacity: 0.5;
}
.join{
    background-color: white;
    color: rgb(41, 118, 211);
    border-color: rgb(41, 118, 211);
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 8px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left:16px;
    padding-right:16px;
    
    transition: background-color 0.15s,
    color 0.5s;
    vertical-align: top;
}
.join:hover{
    background-color: rgb(41, 118, 211);
    color: white;
}
.join:active {
    opacity: 0.5;
}
.tweet {
    background-color: rgb(2, 158, 255);
    color: white;
    border: none;
    /* to get round button put hald the value of height or width which is smaller in value */
    border-radius: 18px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    margin-left: 8px;
    transition: box-shawdow 0.15s;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:16px;
    padding-right:16px;
    vertical-align: top;
}
.tweet:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
}