.subscribe{
    background-color: rgb(200, 0, 0);
    color: white;
    border: none;
    height: 36px;
    width: 105px;
    border-radius: 2px;
    /* to point the button */
    cursor: pointer;  
    transition: opacity 0.15s;
}

.subscribe:hover{
    opacity: 0.8;

}
.subscribe:active{
    opacity: 0.5;
}
.join{
    background-color: white;
    color: rgb(41, 118, 211);
    border-color: rgb(41, 118, 211);
    border-style: solid;
    border-width: 1px;
    height: 36px;
    width: 62px;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 8px;
    transition: background-color 0.15s,
    color 0.5s;
}
.join:hover{
    background-color: rgb(41, 118, 211);
    color: white;
}
.join:active {
    opacity: 0.5;
}
.tweet {
    background-color: rgb(2, 158, 255);
    color: white;
    border: none;
    width: 74px;
    height: 36px;
    /* to get round button put hald the value of height or width which is smaller in value */
    border-radius: 18px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    margin-left: 8px;
    transition: box-shawdow 0.15s;
}
.tweet:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
}
.uber {
    background-color: black;
    color: white;
    height: 36px;
    width: 100px;
    border: none;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 0.15s;
}
.uber:hover{
    opacity: 0.5;
}
.amazon {
    background-color: rgb(255, 216, 20);
    color: black;
    height: 36px;
    width: 175px;
    border: none;
    border-radius: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.15s;

}
.amazon:hover{
    background-color: rgb(254, 226, 88);
}
.github{
    background-color: rgb(50, 169, 84);
    color: white;
    border: none;
    font-weight: bold;
    height: 36px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.15s;
}

.github:hover{
    background-color: rgb(41, 212, 89);
}
.get {
    background-color: rgb(121,82,179);
    color: white;
    height: 36px;
    width: 125px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.25s;
}
.get:hover{
    opacity: 0.6;
}
.download {
    background-color: white;
    color: rgb(108,117,125);
    border-color: rgb(108,117,125);
    height: 36px;
    width: 125px;
    font-weight: bold;
    border-radius:5px;
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s, opacity 0.15s;
}
.download:hover{
    background-color:rgb(108,117,125);
    color: white;
    opacity: 0.5;
}
.apply {
    background-color: rgb(10,102,194);
    color: white;
    font-weight: bold;
    height: 36px;
    width: 200px;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    transition: opacity 0.15sS;
}
.apply:hover{
    opacity: 0.5;
}
.save {
    background-color: white;
    color: rgb(10,102,194);
    height: 36px;
    width: 90px;
    font-size: 15px;
    font-weight: bold;
    border-color: rgb(10,102,194);
    cursor: pointer;
    border-radius: 18px;
    transition: background-color 0.15s, color 0.15s, opacity 0.15s;
}
.save:hover{
    background-color: rgb(10,102,194);
    color: white;
    opacity: 0.4;
}
.buy {
    background-color: rgb(255,164,28);
    font-weight: bold;
    height: 36px;
    width: 175px;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    transition: background-color 0.15s;
}
.buy:hover{
    background-color: rgb(248, 184, 89);
}
.a:hover{
    color: green;
}