p {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}
.video-title {
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    width: 280px;
    line-height: 24px;
    margin-bottom: 5px;
}
.video-stats {
    font-size: 14px;
    color: rgb(96 96 96);
    margin-bottom: 20px;
}
.video-author {
    color: rgb(96 96 96);
    font-size: 14px;
    margin-bottom: 20px;
}
.video-description{
    font-size: 14px;
    color: rgb(96 96 96);
    width: 280px;
    line-height: 22px;
    margin-bottom: 100px;
}
.apple-text{
    margin-bottom: 50px;
    font-size: 14px;
    background-color: rgb(227, 65, 64);
    color: white;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
}
.shop-link{
    cursor: pointer;
}
.shop-link:hover{
    text-decoration: underline; 
}
.font-tahoma{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 30px;
}
.font-arial{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    width: 375px;
    line-height: 30px;
}
.arial {
    color: red;
    font-style: italic;
    font-size: 15px;
    font-weight: lighter;
    
}
.title{
    font-family: Verdana;
    font-weight: bold;
    font-size: 20px;
}
.tag {
    font-family: Verdana;
    font-size: 15px;
    color: rgb(96 96 96);
}
.content {
    font-family: Verdana;
    width: 280px;
    font-size: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.button {
    font-family: Verdana;
    background-color: rgb(19, 166, 19);
    color: white;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 12px;
    margin-bottom: 100px;
    cursor: pointer;
}
.shop {
    font-size: Arial;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}
.apple {
    font-family: Arial;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}
.learn-more {
    color: rgb(32, 184, 235);
    text-align: center;
    margin-bottom: 100px;
    text-decoration: underline;
    cursor: pointer;
}
.new {
    text-align: center;
    color: orange;
    font-size: 15px;
    margin-bottom: 10px;
}
.Mac{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.pro {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
.from {
    text-align: center;
    font-size: 10px;
    margin-bottom: 10px;
}
.buy {
    border: none;
    cursor: pointer;
    color: white;
    background-color: rgb(6, 167, 221);
    font-size: 10px;
    display: block;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 10px;
    margin-bottom: 100px;   
}
.dollar {
    font-size: 20px;
    font-weight: bold;
}
.usd {
    color: grey;
    font-size: 15px;
    font-weight: bold;
    padding-left: 5px;
}
.green {
    color: green;
    font-size: 15px;
}
.after {
    color: grey;
    font-size: 15px;
}
.red {
    color: red;
    font-size: 15px;
    
}
.freecode {
    margin-top: 100px;
    font-size: 15px;
    font-weight: bold;
}
.free {
    color: grey;
    font-size: 15px;
}
.para1 {
    width: 500px;
    font-size: 15px;
    font-weight: 400;
}
.para2 {
    font-size: 15px;
    font-weight: 400;
}
.chp {
    color: rgb(138, 210, 235);
    font-size: 15px;
}

